table {
  width: 100%;
}

.project-button-row button,
.project-button-row a {
  margin-right: 8px;
}

.project-card {
  max-width: 400px;
}

.cs-full-width {
  width: 80%;
}

.projectform-container {
  display: flex;
  flex-direction: column;
}

.project-button-row button,
.project-button-row a {
  margin-right: 8px;
}

.project-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.project-full-width {
  width: 60%;
}


