/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


div.container {
  margin: 0 40px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.green-snackbar {
  background: #007bff
}

.red-snackbar {
  background: red
}
